body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
}

/********************************************
* NAVBAR 
*/
.navbar {
  background-color: #253031;
  width: 100%;
  display: inline-block;
  position: fixed;
  top: 0;
}

.navbar-div {
  display: flex;
  flex-direction: row;
}

.menu-attributes {
  text-align: right;
  margin: 0px 75px 0px 0px;
}

.menu-attributes li {
  display: inline-block;
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.menu-attributes a {
  color: whitesmoke;
  padding: 10px 25px 10px 25px;
  margin: 0px 0px 0px 0px;
}

.navbar a:visited {
  color: whitesmoke;
}

.menu-attributes a:hover {
  color: gray;
  background-color: antiquewhite;
  padding: 10px 25px 10px 25px;
}

/********************************************
* INTRO
*/
.intro {
  text-align: center;
  vertical-align: middle;
  padding: 200px 100px 200px 100px;
  background-color: wheat;
}

/********************************************
* ABOUT
*/
.about {
  padding: 50px 0px 75px 0px;
  background-color: #990D35;
}

.about-header {
  text-align: center;
  padding-bottom: 50px;
}

.about-cols {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0px 200px 0px 200px;
}

.about-sub {
  min-width: 100px;
  max-width: 275px;
  min-height: 200px;
  padding: 0px 25px 0px 25px;
  margin: 0px 25px 0px 25px;
  background-color: #FFF8E8;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.about-sub:hover {
  background-color: #FCD581;
  padding: 0px 35px 0px 35px;
}

.about-sub:hover h4 {
  font-size: larger;
}

.about-sub:hover p {
  font-size: larger;
}

/********************************************
* RESUME
*/
.resume {
  padding: 50px 0px 75px 0px;
  background-color: bisque;
}

.resume-header {
  text-align: center;
}

.resume-content {
  display: inline-flex;
  flex-direction: row;
}

/********************************************
* PROJECTS
*/
.projects {
  padding: 50px 0px 75px 0px;
}

.proj-header {
  text-align: center;
}

/********************************************
* BLOG
*/
.blog {
  padding: 50px 0px 75px 0px;
  background-color: #857F74;
}

.blog-header {
  text-align: center;
  padding-bottom: 50px;
}

.blogs {
  display: flex;
  flex-direction: row;
  margin: 0px 125px 50px 120px;
}

.sub-blog {
  text-align: center;
  min-width: 750px;
  max-width: 750px;
  margin-left: 50px;
  background-color: #FCD581;
  border-style: solid;
}

.posts {
  text-align: left;
  margin: 25px 25px 25px 25px;
}

.post {
  min-width: 650px;
  max-width: 650px;
  display: inline-flex;
  background-color: #FFF8E8;
  border-style: solid;
  border-color: #857F74;
  padding-left: 50px;
}

.post h4 {
  padding-right: 15px;
}

.post p {
  padding-top: 5px;
  padding-right: 10px;
}

.arrow {
  margin-left: 100px;
  visibility: hidden;
  color: #FFF8E8;
  padding-top: 20px;
}

.arrow:visited {
  color: #253031;
}

.post:hover {
  background-color: #857F74;
  color: #FFF8E8;
  font-style: italic;
}

.post:hover .arrow {
  visibility: visible;
}